@import "variables";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.header{
    #first-h1{
        overflow-y: hidden;
    }
    background-color: $bg-dark;
    color: white;
    min-height: 640px;
}
.main-content{
    display: inline-flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
}
.text-section{
    background-color: #F8F9FA;
}
footer{
    background-color: #212529;
}
#footer-list{
    ul{
        li{
            a{
                color: #fff;
            }
        }
    }
}
